<p class="text-muted m-2 pb-1 ">Current appointment To Go To</p>

       <% @appointments.each do |appointment| %>
   <tr id="edit_appointment_<%= appointment.id %>">
      <td class="ml-0 mr-0 pl-0 pr-0">  <%= link_to edit_appointment_path(appointment.id), class: "btn ml-0 mr-0 text-white btn-link btn-sm",  title: 'edit', rel: "tooltip"  do %>
         <%= appointment.name %>   <% end %>
      </td>

   </tr>
   <!-- /.custom-control -->
   <% end %>




