    <h4 class="text-muted m-2 pb-1 ">Current notification</h4>
    <tr>
       <td><button class="btn btn-just-icon  btn-round bg-light-info ">

   <i class="fa fa-bell"></i><div class="ripple-container"></div>   </button></td><td class="text-right">You have 4 pending tasks. &nbsp;&nbsp;<span class="text-muted">Just Now</span></td></tr>
    <tr>
       <td><button class="btn btn-just-icon  btn-round bg-light-success ">

   <i class="fa  fa-calendar-o "></i><div class="ripple-container"></div>   </button></td>  <td class="text-right">Server #1 overloaded.&nbsp;&nbsp;<span class="text-muted">2 Hours ago</span></td></tr>
    <tr>
        <td> <button class="btn btn-just-icon btn-round bg-light-warning ">
       <i class=" fa  fa-database "></i><div class="ripple-container"></div>   </button> </td> <td class="text-right">New order received. &nbsp;&nbsp;<span class="text-muted">31 May</span></td></tr>
    <tr>
         <td> <button class="btn btn-just-icon btn-round bg-light-danger ">
      <i class=" fa fa-comments"></i><div class="ripple-container"></div>   </button></td> <td class="text-right"> New user registered. &nbsp;&nbsp;<span class="text-muted">30 May</span></td></tr>
    <tr>
     <td> <button class="btn btn-just-icon  btn-round bg-light-inverse">
        <i class="fa fa-bell"></i><div class="ripple-container"></div>   </button></td> <td class="text-right"> New Version just arrived.&nbsp;&nbsp; <span class="text-muted">27 May</span></td></tr>
    <tr>
       <td> <button class="btn btn-just-icon  btn-round  bg-light-warning">
        <div class="bg-danger"><i class=" fa fa-archive"></i><div class="ripple-container"></div>   </button> </td><td class="text-right"> New user registered. &nbsp;&nbsp;<span class="text-muted">30 May</span></td></tr>
    <tr>
        <td> <button class="btn btn-just-icon btn-round bg-light-danger ">
        <div class="bg-inverse"><i class="fa  fa-calendar-o"></i><div class="ripple-container"></div>   </button></td> <td class="text-right"> New Version just arrived. &nbsp;&nbsp;<span class="text-muted">27 May</span></td></tr>
    <tr>
        <td>  <button class="btn btn-just-icon btn-round bg-light-info">
        <div class="bg-primary"><i class=" fa fa-settings"></i><div class="ripple-container"></div>   </button></td>  <td class="text-right"> You have 4 pending tasks. &nbsp;&nbsp;<span class="text-muted">27 May</span></td></tr>




