<div class="col-md-10 col-md-offset-1">
  <div class="jumbotron text-center card-5">
    <h2 class="display-3 text-light">Hello <%= current_user.first_name %></h2>
    <p class="lead text-light">Welcom to the Hudson Commercial Contact Manger App</p>

    <p class="lead">
      <%= link_to "mange your Contacts ", contacts_path, class: "btn btn-primay btn-lg" %>
    </p>
  </div>
</div>
