<section class="card card-cascade narrower mb-5 text-white card-1">
   <!--Grid row-->
   <div class="row">
      <!--Grid column-->
      <div class="col-md-5">
         <!--Panel Header-->
         <div class="view py-3 gradient-card-header bg-black">
            <h5 class="mb-0 text-white">Search</h5>
         </div>
         <!--/Panel Header-->
         <!--Panel content-->
         <div class="card-body">
            <!--Grid row-->
            <div class="row">
               <!--Grid column-->
               <div class=" mb-4 text-white mt-0">
                  <div class="mt-3 p-4">


                     <div class="card-header ">
                     <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                     <div class="nav-tabs-navigation mdl-color--grey-900">
                        <div class="nav-tabs-wrapper mdl-color--grey-900">
                           <ul class="nav nav-tabs" data-tabs="tabs">
                              <li class="nav-item">
                                 <a class="nav-link active" href="#profile" data-toggle="tab">
                                 <i class="material-icons">face</i>
                                 Contacts
                                 </a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="#messages" data-toggle="tab">
                                 <i class="material-icons">business</i>
                                 Properties
                                 </a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="#settings" data-toggle="tab">
                                 <i class="material-icons">build</i>
                                 Projects
                                 </a>
                              </li>


                           </ul>
                        </div>
                     </div>
                  </div>
                     </div>
                  <div class="card-body bg-dark p-4 m-4 ">
                     <div class="tab-content text-center">
                        <div class="tab-pane active" id="profile">
                           <span class="bmd-form-group bmd-form-group-lg"><input name="query" id="contacts_get" class="form-control form-control-lg form-control-gray bg-gray mr-3 text-white query-c ui-autocomplete-input" placeholder="Name" autocomplete="off" type="text"></span>
                        </div>
                        <div class="tab-pane" id="messages">
                           <span class="bmd-form-group bmd-form-group-lg"><input name="query" id="properties_get" class="form-control form-control-lg form-control-gray bg-gray mr-3 text-white query-p ui-autocomplete-input" placeholder="Name" autocomplete="off" type="text"></span>
                        </div>
                        <div class="tab-pane" id="settings">
                           <span class="bmd-form-group bmd-form-group-lg"><input name="query" id="properties_get" class="form-control form-control-lg form-control-gray bg-gray mr-3 text-white query-p ui-autocomplete-input" placeholder="Name" autocomplete="off" type="text"></span>
                        </div>
                     </div>
                  </div>
               </div>
               <!--Grid column-->
               <!--Grid column-->
               <div class="card card-chart card-1">
               </div>
               <!--Grid column-->
            </div>
            <!--Grid row-->
         </div>
         <!--Panel content-->
      </div>
      <!--Grid column-->
      <!--Grid column-->
      <div class="col-md-7">
         <!--Panel Header-->
         <div class="view py-3 gradient-card-header bg-black mb-4">
            <div class="card mdl-color--grey-900">
               <div class="card-header card-header-icon mb-0">
                  <div class="card-icon bg-black">
                     <i class="material-icons">search</i>
                  </div>

                  </h4>
               </div>
               <div class="card-body mdl-color--grey-900  mt-0">
                  <div class="table-responsive">
               <div class="card mt-0 pt-0">

                <div class="card-body table-responsive bg-dark mt-0 pt-0">
                  <table class="table table-hover pt-0 pt-2">
                    <thead class="text-white pt-3">
                      <th class="text-info">ID</th>
                      <th class="text-info">Name</th>
                      <th class="text-info">Phone</th>
                      <th class="text-info">Cell</th>
                      <th class="text-info">Email</th>
                      <th class="text-info">Company</th>
             </thead>
                    <tbody  id="#seach-table-1" class="t-info-box">



                    </tbody>
                  </table>
                </div>
              </div>
            </div>
               </div>
            </div>
         </div>
         <!--/Card image-->
      </div>
      <!--Grid column-->
   </div>
   <!--Grid row-->
</section>
