<div class="landding-page">
  <div class="layer">
    <!-- Page Content -->
    <section filter-color="orange ">
      <center>
        <div class="top-header">
          <!--  render 'layouts/messages'  -->
          <div class="text-center main-brand ">
            <div class="" >
              <div class="">
                <strong>
                  <h1 class="title white-text"  style="color: white !important;">
                    The Hudson Commercial
                  </h1>
                </strong>
                <h3 class="description white-text" style="color: white !important;">Dashbord CRM</h3>
                <br/>
                <a id="sign_up" href="/users/sign_up" class="btn btn-outline-primary btn-lg text-light" >Lets do this get started</a>
              </div>
            </div>
          </div>
        </div>
      </center>
    </section>
  </div>
</div>

