
    <!-- Page Content -->


    <body class=" login-page">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg bg-primary navbar-transparent navbar-absolute" color-on-scroll="500">
    <div class="container">
      <div class="navbar-wrapper">
        <a class="navbar-brand" href="#pablo">Hudson Commercial Lab</a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon icon-bar"></span>
        <span class="navbar-toggler-icon icon-bar"></span>
        <span class="navbar-toggler-icon icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="../dashboard.html" class="nav-link">
              <i class="material-icons">dashboard</i> Dashboard
            </a>
          </li>
          <li class="nav-item ">
           <a href="/users/sign_up" title="" class="nav-link">

              <i class="material-icons">person_add</i> Register
          </a>
          </li>
          <li class="nav-item  active ">
              <a href="users/confirmation/new" title="" class="nav-link">

              <i class="material-icons">fingerprint</i> Need confirmation?
           </a>
          </li>
          <li class="nav-item ">
            <a href="lock.html" class="nav-link">
              <i class="material-icons">lock_open</i> Lock
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
  <div class="wrapper wrapper-full-page">
    <div class="page-header login-page header-filter" filter-color="black">
      <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
      <div class="container">
      <section filter-color="orange ">
      <center>
        <div class="top-header">
          <!--  render 'layouts/messages'  -->
          <div class="text-center main-brand ">
            <div class="" >
              <div class="">
                <strong>
                  <h1 class="title white-text"  style="color: white !important;">
                    The Hudson Commercial
                  </h1>
                </strong>
                <h3 class="description white-text" style="color: white !important;">Dashbord CRM</h3>
                <br/>
                <a id="sign_up" href="/users/sign_up" class="btn btn-primary btn-lg">Lets do this get started</a>
              </div>
            </div>
          </div>
        </div>
      </center>
    </section>

      </div>

    </div>
  </div>
</body>

  <script type="text/javascript">
    $().ready(function(){
        demo.checkFullPageBackgroundImage();


    });
</script>
