<div class="show" id="content">
  <p id="notice">
    <%= notice %>
  </p>
  <div class="form-horizontal">
    <%= show_value 'Name', @task.name %>
    <%= show_value 'Complete', @task.complete %>
  </div>
</div>
