$('#form-modal-title').html('<p class=  "ml-4 text-light"><i class=" fa fa-edit"></i> <span class"pb-2">Edit Contact</span></p>');
$('#form-modal-body').html('<%= j render("form", ajax_true: true) %>' );
$('#form-modal').modal('show')
$('.select_g_picker').selectpicker('val', '<%= @groups.to_s %>').selectpicker('setStyle', 'btn-outline-info');
$('.select_u_picker').selectpicker('val', '<%= @users.to_s %>').selectpicker('setStyle', 'btn-outline-info');
$('.info-feedback').hide();
