
<div class="landding-page">
  <div class="layer">
    <!-- Page Content -->
    <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100 p-t-85 p-b-20">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

        <form class="login100-form validate-form">
          <span class="login100-form-title p-b-70">
            Forgot your password?
          </span>
          <span class="login100-form ">
        <%= devise_error_messages! %>
          </span>

          <div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate = "Enter Email">
          <%= f.email_field :email, class: 'input100' %>
            <span class="focus-input100" data-placeholder="Email"></span>
          </div>


          <div class="container-login100-form-btn mt-4 mb-3">
            <button class="login100-form-btn">
             Send me reset password instructions
            </button>
          </div>

          <ul class="login-more p-t-190">
            <li class="m-b-8">


              <a href="#" class="txt2">

              <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
                <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name), class: 'txt2' %>
              <% end -%>

              </a>
            </li>

            <li>
              <span class="text-center">



              <a href="/users/sign_in" class="txt2">
                Sign in
              </a>
            </span>
            </li>
          </ul>
         <% end %>
      </div>
    </div>
  </div>


  </div>
</div>




