<style type="text/css">
  .bg-body {
   background: #191b1c  !important;
   }
</style>
<div class="container-fluid pt-0">
   <div class="row pt-0">
      <div class="col-md-3" id="sidenav"><%= render 'layouts/sidenav' %>
      </div>
      <div class="col-md-9   pt-4 ">
         <a href="properties/new" title="" class="mt-4 text-muted ml-4 pl-3">New Porperty</a>  |  <span> <%= link_to 'view by category', category_properties_path, class: "text-white" %>
            <div class="col-md-4 mt-3 ml-4">

         <span class="bmd-form-group bmd-form-group-lg"><input type="text" name="p-search" id="p-search" class="form-control form-control-lg form-control-gray bg-gray mr-3 text-white" placeholder="Name or Address" autocomplete="off"></span> <span class="float-left"></span></span>    </div>
         <div class="mt-4">
         </div>
         <div id="render-properties">
            <%= render  @properties %>
         </div>
         <% if @properties.blank? %>
         <div class="panel-footer message">
            <div class="alert alert-warning">
               <strong>Record not found</strong>
            </div>
            <% end %>
         </div>
         <div class="text-center p-3" id="pagin">
            <nav><%= paginate @properties %>
            </nav>
         </div>
      </div>
   </div>
</div>
