<div class="container-fluid pt-0">
   <div class="row pt-0">
      <div class="col-md-3" id="sidenav"><%= render 'layouts/sidenav' %>
      </div>
      <div class="col-md-9   pt-4 ">
         <a href="properties/new" title="" class="mt-4 text-muted ml-4 pl-3">New Porperty</a>  |  <span> <%= link_to 'view by category', category_properties_path, class: "text-white" %></span>
         <div class="mt-4">

         </div>
               <%= render  @properties %>
               <% if @properties.blank? %>
               <div class="panel-footer message">
                  <div class="alert alert-warning">
                     <strong>Record not found</strong>
                  </div>
                  <% end %>
               </div>

                <div class="text-center p-3" id="pagin">
                  <nav><%= paginate @properties %>
                  </nav>
               </div>


      </div>
   </div>
</div>

