<div class="col-md-6 ">
<h1 class=" dark-off-set">Editing Lead</h1>
</div>
<%= render 'form', lead: @lead %>
<div class="col-md-8 col-md-offset-2 pl-0 ">
<%= link_to 'Show', @lead %> |
<%= link_to 'Back', leads_path %>
</div>
