
<div class="col-md-8 col-md-offset-2">

</div>
<%= render 'form', lead: @lead %>
<div class="col-md-8 col-md-offset-2 pl-0 ">

</div>
<div class="col-md-8 col-md-offset-2">
<span class="pr-3 pull-right" > <%= link_to 'Show', @lead %> | <%= link_to 'Back', leads_path %> </span>
</div>
