
<div class="col-md-8 col-md-offset-2">

</div>
<%= render 'form', lead: @lead %>

<span class="pr-4 pull-right mt-4" > <%= link_to 'Show', @lead, class: 'text-white' %> | <%= link_to 'Back', leads_path, class: 'text-white mr-4' %> </span>

