<div class="col-md-8 col-md-offset-2">
  <h1 class="pl-0 ml-0">New Lead</h1>
</div>
<%= render 'form', lead: @lead %>
<div class="col-md-8 col-md-offset-2">
<%= link_to 'Back', leads_path, class: 'pl-0 ml-0' %>
</div>
