<% content_for :title do %>About<% end %>
<div class="margin-top">
  <style type="text/css">
  .about-sec {
    width: 100%;

    min-height: 100vh !important;
    padding-top: 80px;
  }
.main-doc-sec {
    padding: 10px;
}
</style>
</div>
<div class=" about-sec">
  <div class=" container main-doc-sec ">
    <div class="row ">
      <div class="col-md-4 mb-4">
        <ul class="list-group">
          <li class="list-group-item  bg-dark text-light d-flex justify-content-between align-items-center">
        Our Documation

            <span class="badge  badge-info badge-pill">4 topics</span>
          </li>
        </ul>
         </div>
             </div>
                        <div class="row mt-2">
                            <div class="col-md-4">
                                <ul class="nav nav-pills nav-pills-info flex-column">
                                  <li class="nav-item"><a class="nav-link active show" href="#tab1" data-toggle="tab">About</a></li>
                                  <li class="nav-item"><a class="nav-link" href="#tab2" data-toggle="tab">Contacts</a></li>
                                  <li class="nav-item"><a class="nav-link " href="#tab3" data-toggle="tab">Options</a></li>
                                </ul>
                            </div>
                            <div class="col-md-8">
                                <div class="tab-content">
                                    <div class="tab-pane active show" id="tab1">
                                   <h5>This app is a full stack contact manager application for Hudson Commercial and their Employees. It help the company and their employees to easily manage their contacts, leads, deals and action steps to make successfull real estate transactions</h5>
                                    </div>
                                    <div class="tab-pane" id="tab2">
                          The Contacts section is the CRM component of this dashboard app. In this feature of Hudson Lab you can Add Contacts, Edit Contacts, Delete Contacts and view Contacts. To get to the Contacts section you can enter this url into your browser. <a href="https://hudson-lab.herokuapp.com/" title="" class="text-info">https://hudson-lab.herokuapp.com/contacts/<a>

Go to the dashboard, on the top right of the screen you will see widget colored light blue. You can then click the rectangle widget and it will bring you to the contacts section.
Use the Side Navigation dropdown on the far left of the screen. Click link that labled Contacts and it will open up the menu sub-links. A There you will find a link that labeled View Contacts, Which will also take you to the contacts section.
Click the Brand Navigation at the top of the screen just right of the Side Navigation Bar. This link is labeled <%= link_to 'Hudson-lab', contacts_path, class: "text-info" %>.
                                    </div>
                                    <div class="tab-pane " id="tab3">
                                        Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas.
                                        <br><br>Dynamically innovate resource-leveling customer service for state of the art customer service.
                                    </div>
                                </div>
                            </div>
                        </div>



        </div>
      </div>

