
              <tr>
                <td class="middle">
                  <div class="media">
                    <div class="media-left">
                      <a href="#">
                        <%= image_tag gravatar_url(contact.email), class: "media-object" %>
                      </a>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading text-info"><%= contact.name %></h4>
                      <address>
                        <strong><%= contact.company %></strong><br>
                        <%= contact.email %>
                      </address>
                    </div>
                  </div>
                </td>
                <td width="100" class="middle">
                  <div>
                    <a href="#" class="btn btn-circle btn btn-outline-info btn-xs" title="Edit" rel="tooltip">
                      <i class="material-icons">edit</i>
                    </a>
                    <a href="#" class="btn btn-circle btn-outline-danger btn-xs" title="Remove" rel="tooltip">
                       <i class="material-icons">close</i>
                    </a>
                  </div>
                </td>
              </tr>


