<div class=" contacts-outer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3  pt-2 group-sidenav" ><%= render 'layouts/sidenav' %>
      </div>
      <div class="col-md-9 mt-4">
        <div class="panel panel-default">
          <div class="panel-heading">
               <div class="row">
                <div class="col-md-12">
                <strong class="">Edit Contact<span >  <button type="button" class="btn-back btn btn-link text-white"><i class="material-icons">keyboard_backspace</i></button></span></strong>

                </div>
              </div>

          </div><%= render 'plan_form' %>
        </div>
      </div>
    </div>
  </div>


