    <!-- content -->
    <div class="container-fluid pt-0">
      <div class="row pt-0">
        <div class="col-md-3">
        <%= render 'layouts/sidenav' %>
        </div><!-- /.col-md-3 -->

        <div class="col-md-9 mt-2  pt-2">
          <H3>Contacts</H3>
          <div class="panel panel-default mt-2">

            <table class="table" id="contacts">
            <%= render  @contacts %>

            </table>
              <% if @contacts.blank? %>
              <div class="panel-footer message">

              <div class="alert alert-warning">
                <strong>Record not found</strong>
              </div>
              <% end %>
             </div>
            <div class="text-center" id="pagin">
            <nav>
            <%= paginate @contacts, remote: true %>
            </nav>
          </div>
          </div>


        </div>
      </div>
    </div>
