<div class="container-fluid pt-0" id="main-c-wrap">
   <div class="row pt-0">
      <div class="col-md-3" id="sidenav"><%= render 'layouts/sidenav' %>
      </div>
      <div class="col-md-9   ">
         <div class="card card-5 mt-4 pt-0">
            <div class="card-header card-header-icon ">
               <span>
                  <H3 class="pl-3 pb-4 ">Contacts<a data-toggle="modal" data-target="#myModal" class="" title="">&nbsp;<i class="fa fa-file-excel-o text-info"></i></a><div class="pull-right">

            <a  class="mb-4" id="sort_contacts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="material-icons">view_module</i>

            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="sort_contacts">

    <div class="card">
<article class="card-body">

   <h4 class="card-title mb-4 mt-1">Sort Into Sub Group</h4>
   <p>

   </p>
   <hr>

<ul class="list-group" id="list-county">
  <li class="list-group-item">  <a class="list-group-item text-info sub-group-link " value="Westchester" data-remote="true" href="">
                            Westchester
                           </a></li>
  <li class="list-group-item">    <a class="list-group-item text-info sub-group-link " value="Dutchess" data-remote="true" href="">
                            Dutchess
                           </a></li>
  <li class="list-group-item">
                            <a class="list-group-item text-info sub-group-link "  value="Ulster" data-remote="true" href="">
                            Ulster
                           </a></li>
  <li class="list-group-item">  <a class="list-group-item text-info sub-group-link "  value="Orange" data-remote="true" href="">
                            Orange
                           </a></li>
  <li class="list-group-item">  <a class="list-group-item text-info sub-group-link" value="Rockland" data-remote="true" href="">
                            Rockland
                           </a></li>
</ul>



     </article>

</div> <!-- card.// -->

 <!-- col.// -->

            </div>

                  </div></H3>

               </span>
            </div>
            <div class="panel panel-default mt-3 card-5">
               <table class="table" id="contacts"><%= render  @contacts %>
               </table>
               <% if @contacts.blank? %>
               <div class="panel-footer message">
                  <div class="alert alert-warning">
                     <strong>Record not found</strong>
                  </div>
                  <% end %>
               </div>
               <div class="text-center p-3" id="pagin">
                  <nav><%= paginate @contacts, remote: true %>
                  </nav>
               </div>
               <div class="modal fade" id="form-modal"  >
                  <div class="container">
                     <div class="col-md-9 mr-auto ml-auto">
                        <div class="modal-body" id="form-modal-body"></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- Modal -->
<%= render 'modalcsv' %>
