<div class="container-fluid pt-0">
  <div class="row pt-0">
    <div class="col-md-3" id="sidenav"><%= render 'layouts/sidenav' %>
    </div>
    <div class="col-md-9 mt-2  ">
      <H3 class="p-3">Contacts</H3>
      <div class="panel panel-default mt-3 card-5">
        <table class="table" id="contacts"><%= render  @contacts %>
        </table><% if @contacts.blank? %>
        <div class="panel-footer message">
          <div class="alert alert-warning">
            <strong>Record not found</strong>
          </div><% end %>
        </div>
        <div class="text-center p-3" id="pagin">
          <nav><%= paginate @contacts, remote: true %>
          </nav>
        </div>
        <div class="modal fade" id="form-modal"  >
          <div class="container">
            <div class="col-md-9 mr-auto ml-auto">


            <div class="modal-body" id="form-modal-body"></div>
            </div>
          </div>







        </div>
      </div>
    </div>
  </div>
</div>

