  <div class="contacts-outer">
    <div class="container-fluid">
      <div class="row">

        <div class="col-xl-12 mt-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <strong class="pl-3">New Contact</strong>
            </div><%= render 'plan_form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
