  <div class="contacts-outer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-3 pt-2">
          <%= render 'layouts/sidenav' %>
        </div>
        <div class="col-xl-9 mt-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <strong class="pl-3">New Contact</strong>
            </div><%= render 'form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
