  <div class="contacts-outer">
    <div class="container-fluid">
      <div class="row">

        <div class="col-xl-12 mt-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row">
                <div class="col-md-8">
                <strong class="">New Contact<span class="pull-right">  <button type="button" class="btn-back btn btn-link text-info">Go Back</button></span></strong>

                </div>
              </div>
            </div><%= render 'plan_form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
