<div class="col-md-12 slideInRight" id="requirements_div">
<div class="row">
<div class="project-info col-md-12" >

            <div class="col-md-4 ml-auto mr-auto">


                    <div class="card-body flex mb-4">
                  <div class="icon icon-circle d-flex justify-content-center  align-self-center">
                     <i class="material-icons align-self-center text-danger center-icon">assignment_returned</i>
                  </div>
                  <h3 class="card-title text-white align-self-center text-center">Requirements</h3>
                  <p class="card-description">

                  </p>
               </div>
                </div>

   <p class="text-white text-center mt-3 mb-3" ><%= @project.requirements %></p>
    <div class="col-md-8 ml-auto mr-auto">
         <div class="row">
<%= link_to  project_path(session[:selected_project].to_i), class: 'text-danger text-center col-md-8  ml-auto mr-auto', remote: true do %>
Back To All Section
<% end %>
</div>
</div>
  <hr class="b-white-hr">

</div>
</div>
</div>

