<div class="col-md-12">
<div class="row">
<div class="project-info" id="budget_div"  style="min-height: 600px; with: 100%; ">
   <h4 class="info-title text-center text-white">Project Budget</h4>
   Wifey made the best Father's Day meal ever. So thankful so happy so blessed. Thank you for making my family We just had fun with the “future” theme !!! It was a fun night all together ... The always rude Kanye Show at 2am Sold Out Famous viewing @ Figueroa and 12th in downtown.
   <p class="text-whiter text-center" ><%= @project.budget %></p>
   <%= link_to 'Back To Project', :back, class: 'text-danger' %>
</div>
</div>
</div>
