<div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="info">
                                <div class="icon">
                                    <i class="material-icons">code</i>
                                </div>
                                <h4 class="info-title">For Developers</h4>
                                <p>The moment you use Material Kit, you know you’ve never felt anything like it. With a single use, this powerfull UI Kit lets you do more than ever before. </p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="info">
                                <div class="icon">
                                    <i class="material-icons">format_paint</i>
                                </div>
                                <h4 class="info-title">For Designers</h4>
                                <p>The moment you use Material Kit, you know you’ve never felt anything like it. With a single use, this powerfull UI Kit lets you do more than ever before. </p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="info">
                                <div class="icon">
                                    <i class="material-icons">dashboard</i>
                                </div>
                                <h4 class="info-title">Bootstrap Grid</h4>
                                <p>The moment you use Material Kit, you know you’ve never felt anything like it. With a single use, this powerfull UI Kit lets you do more than ever before. </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="info">
                                <div class="icon">
                                    <i class="material-icons">view_carousel</i>
                                </div>
                                <h4 class="info-title">Example Pages Included</h4>
                                <p>The moment you use Material Kit, you know you’ve never felt anything like it. With a single use, this powerfull UI Kit lets you do more than ever before. </p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="info">
                                <div class="icon">
                                    <i class="material-icons">access_time</i>
                                </div>
                                <h4 class="info-title">Save Time</h4>
                                <p>The moment you use Material Kit, you know you’ve never felt anything like it. With a single use, this powerfull UI Kit lets you do more than ever before. </p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="info">
                                <div class="icon">
                                    <i class="material-icons">attach_money</i>
                                </div>
                                <h4 class="info-title">Save Money</h4>
                                <p>The moment you use Material Kit, you know you’ve never felt anything like it. With a single use, this powerfull UI Kit lets you do more than ever before. </p>
                            </div>
                        </div>
                    </div>
                </div>
