<div class="container mt-4">
<div class="col-md-4 ml-auto mr-auto">
          <%= link_to new_company_path, class: "nav-link text-white btn btn-outline-white btn-lg", remote: true do %>

                <span class=""> <i class="material-icons">store</i> Company </span>         <% end %>
</div>
</div>
