<div class="col-md-10 col-md-offset-1">
  <div class="jumbotron text-center">
    <h1 class="display-3 text-dark">404</h1>
    <p class="lead text-dark">Sorry the contact cannot be found</p>

    <p class="lead">
      <%= link_to "Go back to your contacts", contacts_path, class: "btn btn-primay btn-lg" %>
    </p>
  </div>
</div>
