<div class="landding-page">
    <div class="layer">
        <div class="container">
            <div class="col-md-4 container">
                <div class="container creds-sec">

                     <!-- Material form login -->
                    <div class="form-header deep-blue-gradient rounded">
                            <h3><i class="fa fa-lock"></i> Login:</h3>
                        </div>

                        <div class="card">
                            <center><i class="fa fa-user logo-i blue-grey-text mt-4" style="font-size: 4rem;"></i></center>


                        <div class="card-body">
                        <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'form-signin') do |f| %>
                        <!-- Material input email -->
                        <div class="md-form font-weight-light">
                            <i class="fa fa-envelope prefix grey-text"></i>
                            <%= f.text_field :email, class: "form-control pl-2", placeholder: "Email address", required: true %>

                        </div>

                        <!-- Material input password -->
                        <div class="md-form font-weight-light">
                            <i class="fa fa-lock prefix grey-text"></i>
                         <%= f.password_field :password, class: "form-control  pl-2", placeholder: "Enter Password" %>


                        </div>

                        <div class="text-center mt-4">
                            <button class="btn  unique-color-dark " type="submit">Login</button>
                        </div>
                         <% end %>
                    </div>
                </div>

                </div>
            </div>
        </div>
    </div>
</div>





<!-- Material form login -->

