<div class="container-fluid first-show-card">
<div class="modal fade bd-example-modal-lg " tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="tasks-form-modal">
   <div class="modal-dialog modal-lg">
      <div class="modal-content bg-black" id="f-body">
      </div>
   </div>
</div>
<div class="card card-1-color">
<div class="card-header card-header-tabs  pb-2 mb-0 bg-black">
   <div class="nav-tabs-navigation pt-3">
      <div class="nav-tabs-wrapper">
         <ul class="nav nav-tabs" data-tabs="tabs">

            <li class="nav-item">
               <a class="nav-link active nav-t-tab " href="#phone-touch" data-toggle="tab">
                  <i class="material-icons">contact_phone</i>
                  Phone
                  <div class="ripple-container"></div>
               </a>
            </li>
            <li class="nav-item">
               <a class="nav-link nav-t-tab" href="#email-touch" data-toggle="tab">
                  <i class="material-icons">email</i>
                  Email
                  <div class="ripple-container"></div>
               </a>
            </li>
            <li class="nav-item">
               <a class="nav-link nav-t-tab" href="#letter-touch" data-toggle="tab">
                  <i class="material-icons">contact_mail</i>
                  Letter
                  <div class="ripple-container"></div>
               </a>
            </li>
            <li class="nav-item">
               <a class="nav-link nav-t-tab" href="#in_person-touch" data-toggle="tab">
                  <i class="material-icons">face</i>
                  In Person
                  <div class="ripple-container"></div>
               </a>
            </li>
            <li class="nav-item">
               <a class="nav-link nav-t-tab " href="#social_media-touch" data-toggle="tab">
                  <i class="material-icons">web</i>
                  Social Media
                  <div class="ripple-container"></div>
               </a>
            </li>
            <li class="nav-item">
               <a class="nav-link nav-t-tab" href="#postcard-touch" data-toggle="tab">
                  <i class="material-icons">note</i>
                  Postcard
                  <div class="ripple-container"></div>
               </a>
            </li>
         </ul>
      </div>
   </div>
   <h4 class="display-5  mt-3 pull-right  far-right-touch "><small><%= link_to  new_touch_path, class: 'text-white mt-3' do %>  New Touch<% end %></small></h4>
</div>
<div class="card-body">
   <div class="tab-content" id="touches" >


            <%= render @touches %>


   </div>
</div>
</div>
</div>


<script >
 var hrefTempIndex = "#phone-touch"
$('.tab-pane').hide();
$(hrefTempIndex).show();
$(document).on('click', '.nav-t-tab', function (e) {

    e.preventDefault()

  var tabSection =  $(this).attr('href');
   // if (hrefTempIndex !== $(this).attr('href')) {
   //  $("#tasks-main-list").hide();
   //  }
  console.log(tabSection);
  $(hrefTempIndex).hide();
   $(tabSection).show();
    hrefTempIndex = tabSection;
})
$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
  e.target // newly activated tab
  e.relatedTarget // previous active tab
});
</script>

