<div class="container-fluid first-show-card">
<div class="modal fade bd-example-modal-lg " tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="tasks-form-modal">
   <div class="modal-dialog modal-lg">
      <div class="modal-content bg-black" id="f-body">
      </div>
   </div>
</div>
<div class="card card-1">
<div class="card-header card-header-tabs  bg-black">
   <div class="nav-tabs-navigation">
      <div class="nav-tabs-wrapper">
         <ul class="nav nav-tabs" data-tabs="tabs">
            <li class="nav-item">
               <a class="nav-link active  " href="#profile" data-toggle="tab">
                  <i class="material-icons">contact_phone</i>
                  Phone
                  <div class="ripple-container"></div>
               </a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="#messages" data-toggle="tab">
                  <i class="material-icons">email</i>
                  Email
                  <div class="ripple-container"></div>
               </a>
            </li>
            <li class="nav-item">
               <a class="nav-link " href="#profile" data-toggle="tab">
                  <i class="material-icons">contact_mail</i>
                  Letter
                  <div class="ripple-container"></div>
               </a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="#messages" data-toggle="tab">
                  <i class="material-icons">face</i>
                  In Person
                  <div class="ripple-container"></div>
               </a>
            </li>
            <li class="nav-item">
               <a class="nav-link " href="#profile" data-toggle="tab">
                  <i class="material-icons">web</i>
                  Social Media
                  <div class="ripple-container"></div>
               </a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="#messages" data-toggle="tab">
                  <i class="material-icons">note</i>
                  Postcard
                  <div class="ripple-container"></div>
               </a>
            </li>
         </ul>
      </div>
   </div>
   <h4 class="display-5 pb-3 pull-right  far-right-touch "><small><%= link_to 'New Touch', new_touch_path, class: 'text-white 5 pb-4 ' %></small></h4>
</div>
<div class="card-body">
   <div class="tab-content">
      <div class="tab-pane active" id="profile">
         <div class="col-md-12">
            <%= render @touches %>
         </div>
      </div>
   </div>
</div>
