/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require jquery-ui/autocomplete
 *= require jquery-ui/menu
 *= require jasny-bootstrap.min
 *= require font-awesome


 *= require_tree .
 *= require_self
 */
@import "material-dashboard.css";
@import "demo.css";
@import "font-awesome";
@import "jasny-bootstrap";

.small-image {
  width: 80px;
  height: 80px;
}
.dark-off-set {
  margin-left: 15%;
}

.card-5 {

  border-radius: 0px !important;

}

   .reg-intro-form {

        display: none;
    }
#show-input {
  min-width: 200% !important;
}
@media only screen and (max-width: 1296px) {
#show-input {
  min-width: 100% !important;
}
}
@media only screen and (max-width: 700px) {
  body {
      overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
  }
  .hide-btn {
      display: block !important;
  }
   .show-btn {
      visibility: hidden;
  }
  .reg-intro {
    display: none !important;
  }
    .reg-intro-form {
        display: block;
        position: relative;
        top: 3.4rem !important;
    }
    .main-container {
    padding: 5px !important;
  }
  .main-contact-panel {
    overflow:  scroll;
  }
  .plan-form{
    overflow: visible;
    height: 100%;
    margin-bottom: 2rem;
  }
  table {
    overflow: scroll;
  }
.cool-form  .bg-footer {
    width: 90% !important;
    margin-top: 4rem !important;
    background: none !important;

  }
.cool-form  form{
   padding-left: .5rem !important;
   padding-right: .5rem !important;
   padding-top: .3rem !important;

  }
  .lb-responsive, .br-responsive {
    display: none;
  }
  .mainlogin {
     margin-top: 11rem !important;
     width: 90%;
  }
  .intro-2 {
    width: 100% !important;
  }
  .wizard-container {
   width: 100% !important;
   margin-left: 0px !important;
   margin-right: 0px !important;
  }
  .card-wizard {
   width: 100%;
   margin: 0px !important;
   padding: 0px !important;
  }

  .l-less-r {
    margin: 0px !important;
    padding: 0px !important;

  }
  #col-x-6-phone {
   margin: 0px !important;
    padding: 0px !important;
      width: 100% !important;
  }
    #contact_phone, .r-r-input, #contact_cell{
       float: left;
       width: 100% !important;
       margin: auto !important;
     }


.contact-main-image, .group-sidenav, .group-head,  .r-r  {
    display: none;
  }
  .main-contact-panel{
     width: 100%;
     margin: auto !important;
  }
  #main-c-wrap {
    margin-top: -3rem;
    padding: 0px !important;
  }
  .outer-contact-show , .first-show-card{
    margin: 0px !important;
    padding: 0px !important;
  }
  .r-padding-card {

    padding: 5px !important;
  }
  .s-padding-card {
    padding-left: 3px !important;
  }
   .n-padding-card{
     margin: 0px !important;
    padding: 0px !important;
  }
  .first-show-card {
    margin: 0px !important;
    padding: 0px !important;
  }
  .profile-list,  .left-c-text {
    margin-left: 0px !important;
    padding-left: 0px !important;
}
.first-show-card > ul {
   margin: 0px !important;
  padding: 3px !important;
}
.add-task, .p-task {
  margin: auto !important;
  text-align: center;
}

.group-float {

  padding-left: 0px !important;
  margin-left: 0px !important;
}
.r-edit-group, .group-float {
 float: left !important;
}
.r-full-width {
   width: 80vw;
}
.hide-form {
  display: block !important;
}
.r-s-p {
  padding: 4px !important;
}
.content {
  width: 100% !important;
  margin-left: 0px !important;
  padding-left: 0px !important;
    margin-right: 0px !important;
  padding-right: 0px !important;

}
.card-5 {
   width: 100% !important;

}

}
.card-6 {

  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);

}

.card-h-1 {
    border-radius: 4px;
    padding-left: 5px;

    border: none !important;

}


.square-image, .square-image img {
  border-radius: 0px !important;
}
.b-bottom, .b-top {
  border-bottom: 1px solid #51586a !important;
}
.b-white {border: 1px solid #fff !important;}


.bg-hudson {
  background-color: #004267 !important;
}

.bg-trans {
  background: transparent !important;
}


.white-box {
    background: #fff;
    padding: 25px;
    margin-bottom: 15px;
}
.input-group input{
  min-width: 100% !important;
}
.sidebar {
    background:
    linear-gradient(
rgba(0,0,0,.5), rgba(0, 0, 0,1)
    ),
    image-url('sidebar-6.jpg') no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     background-size: cover;
     -o-background-size: cover;
}

.property-card {
   background-image:  no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     background-size: cover;
     -o-background-size: cover;
}
.table tbody>tr>td.middle {
  vertical-align: middle;
}
.media {
  padding: 10px 0;
}

.media img, .fileinput .thumbnail, .thumbnail img {
  border-radius: 50%;
}

.media-left {
  padding: 0 20px;
}
.float-left  {
  position: absolute;
  left: 0px !important;
}
.media-heading {
  color: #dd5638;
  margin-bottom: 10px;
}

.media-body {
  padding-top: 15px;
}

.btn-circle {
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 15px 0px;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 50%;
}
.btn-circle i{
  position: absolute !important;
   left: .7rem !important;
}
.e-contact {
  top: 1.8rem !important;

}
.d-contact {

   top: 1.8rem !important;
}
.card-signup {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}
.ui-autocomplete {
  position: relative;
  cursor: default;
  z-index: 9999 !important;
  max-width: 236px !important;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

html,body, .content {
  padding: 0px;
  margin: 0px;

  box-sizing: border-box;
  width: 100%;
 height: 100% !important;

}

.image-content {
  max-width: 100%;

}
.image-content img{
 background-image:  no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     background-size: cover;
     -o-background-size: cover;
  width: 100%;
}



.float-right {
  float-right: !important;
}
// .profile-list {
//   padding: 8px 3px 6px;
//   border-bottom: 1px solid #232526;
//   list-style-type: none;
//   display: block;
//   float: left;
// }
.list-unstyled {
  list-style-type: none;
}
.profile-ul {
  list-style-type: none;
}
.card-description-property {
  max-height: 90px;
  overflow: hidden;
}
.user-image {
  border-radius: 50% !important;
}
#conversation-body {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 2em;
}
.modal-size-xl {
  min-width: 80% !important;
}
.contact-over-flow {
  width: 200px !important;

  overflow: scroll !important;
}
.contact-flow-height {
  height: 100px !important;
}
.rounded-0 {
  border-radius: 0px !important;
}


.cool-form {
  margin: auto !important;
 width: 340px !important;
 margin-top: -60% !important;

}
.cool-form  form {
  margin: auto !important;
  z-index: 999999999999  !important;
  position: relative;


}
.profile-list {
  width: 100%;
 margin-right: 0px;
 padding-right: 0px;
}
.profile-list .float-right, .c-info-text-right{
  position: absolute;
  right: 0px !important;
}
.light-list {
 width: 100%;
}
.outer-list {
  width: 100%;
}
.hide-form , .hide-btn{
  display: none;
}
.pull-right {
  float: right !important;
}
.long-input-div {
  padding: 3px !important;
  width: 82% !important;
  float: left;
}
.long-input-div #r-search{

  width: 100% !important;

}
.list-inline-item-custom {
  list-style: none;
}
.small-input-div {
  float: left;
  padding: 3px !important;
  width: 5% !important;

}
.small-search-form-container {
  margin: auto !important;
  padding: 0px !important;
  padding-right: 5px !important;
  width: 95% !important;
}
.span-out {
  max-width: 100%;
}
@media only screen and (max-width: 990px) {
html,body {
    overflow:  visible !important;

}
}
#table-scroll .search-table-outter { overflow-x: auto !important;}
.search-table-outter th, .search-table-outter td { min-width: 200px; }
input.btn {
  -webkit-user-select: initial;
  -khtml-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}

 .text-hudson {
    color: #004267 !important;
  }
 #contact-main-text {
    color: #004267 !important;
  }

.scondary-size-text {
  font-size: 1.1rem !important;
}
.main-size-text {
   font-size: 1.4rem !important;
}
.get-group{
    font-size: 1.1rem !important;
     word-wrap: break-word !important;

}
.sidenav-section {
  overflow-wrap: break-word !important;

     word-wrap: break-word !important;
}
#body-sidnav {
hyphens: auto;
}
.navbar-brand {
  font-size: 1.5rem !important;
}

.head-underline {
   border-bottom: 1px solid #fff !important;
}


.page-content {
  color: white !important;

}
.page-content table{
  color: white !important;
  display: block !important;
  border: 1px solid

}
.page-content td {
  color: white !important;
  display: block !important;
  border: 1px solid #ddd;

}
 .float-right-switch {

  right: 5px !important;

  width: 10%;
  margin: 0px;
  padding:  0px;
 }
 .select-group-item {
  height: 200px !important;
 }

div.dataTables_wrapper {
        width: 800px;
        margin: 0 auto;
         overflow-x: auto;
    }

.table-responsive {
    max-height: 550px;
    overflow: scroll;
}
.table-custom th, .table-custom  td{
  min-width: 200px;
}
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #09C !important;
}
.table-striped a {
  color:  black !important;
}
.custom-striped {
  color:  black !important;
}
.position-right {
  position: absolute;
  right: 0px;
  margin-top: -.4rem;
}
