/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require jquery-ui/autocomplete
 *= require jquery-ui/menu
 *= require jasny-bootstrap.min
 *= require_tree .
 *= require_self
 */
@import "material-dashboard.css";
@import "demo.css";

.bg-trans {
  background: transparent !important;
}
.b-dark {
  border-color: black !important;
}
.form-group input[type=text].white-text {
  color: white !important;
}
.dark {
  color: #5bc0de !important;
}

.input-group input{
  min-width: 100% !important;
}
.sidenar {
  background-image: image-url('sidebar-4.jpg');
}

.table tbody>tr>td.middle {
  vertical-align: middle;
}

.media {
  padding: 10px 0;
}

.media img, .fileinput .thumbnail, .thumbnail img {
  border-radius: 50%;
}

.media-left {
  padding: 0 20px;
}

.media-heading {
  color: #dd5638;
  margin-bottom: 10px;
}

.media-body {
  padding-top: 15px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 2px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.card-signup {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}
.ui-autocomplete {
  position: relative;
  cursor: default;
  z-index: 9999 !important;
  max-width: 201px !important;
}
