/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require jquery-ui/autocomplete
 *= require jquery-ui/menu
 *= require jasny-bootstrap.min
 *= require font-awesome
 *= require_tree .
 *= require_self
 */
@import "material-dashboard.css";
@import "demo.css";
@import "font-awesome";
@import "jasny-bootstrap";


.card-5 {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  background-color: #212121 !important; color: white !important;
}
.b-bottom {
  border-bottom: 2px solid #51586a !important;
}
.bg-hudson {
  background-color: #004267 !important;
}
.bg-trans {
  background: transparent !important;
}
.b-dark {
  border-color: black !important;
}
.b-light {
  border-color: white !important;
}
.form-group input[type=text].white-text {
  color: white !important;
}
.dark {
  color: #5bc0de !important;
}

.input-group input{
  min-width: 100% !important;
}
.sidebar {
    background:
    linear-gradient(
rgba(0,0,0,.5), rgba(0, 0, 0,1)
    ),
    image-url('sidebar-6.jpg') no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     background-size: cover;
     -o-background-size: cover;
}

.text-white {
  color: white !important
}
.text-white a{
  color: white !important
}
.table tbody>tr>td.middle {
  vertical-align: middle;
}
.media {
  padding: 10px 0;
}

.media img, .fileinput .thumbnail, .thumbnail img {
  border-radius: 50%;
}

.media-left {
  padding: 0 20px;
}

.media-heading {
  color: #dd5638;
  margin-bottom: 10px;
}

.media-body {
  padding-top: 15px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 10px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle i{
  position: absolute !important;
   left: .43rem !important;
}
.e-contact {
  top: 1.6rem !important;

}
.d-contact {

   top: 1.5rem !important;
}
.card-signup {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}
.ui-autocomplete {
  position: relative;
  cursor: default;
  z-index: 9999 !important;
  max-width: 246px !important;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

html,body {
  padding: 0px;
  margin: 0px;
  background-color: #212121 !important;
  color: white !important;
  box-sizing: border-box;
  width: 100%;
}

