.card-5 {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  background-color: #000 !important;
  border-radius: 0px !important;
  color: white !important;
}

.bg-tree {
  background-color: #3e474f !important;
}
.bg-footer{
  background-color: #242424 !important;
}
.card-6 {
  background: #232526  !important;
  color: white !important;
}
.card-1 {
  background: #191b1c !important;
  color: white !important;
}
.card-h-1 {
    border-radius: 4px;
    padding-left: 5px;
    background-color: #3D3D3D  !important;
    border: none !important;
    color: white !important;
}
.section__title {}
.card-h-1 h5 a{
  color: white !important;
}

.bg-black {
  background-color: #000 !important;
}

.bg-dark-secondary {
  background-color:  #232526 !important;
}
.bg-grey.bg-darken-3 {
    background-color: #424242 !important;
}
.b-dark {
  border-color: black !important;
}
.b-light {
  border-color: white !important;
}
.bg-dark-blue {
  background-color: #051937 !important;
}
.bg-gray-dark{background-color: #3d3d3d !important;}
.bg-vue-dark {background-color: #66615B !important;}
.form-group input[type=text].white-text {
  color: white !important;
}

.card-mertial-dark {
   background-color:  black !important;
}

.dark {
  color: #5bc0de !important;
}

.text-white {
  color: white !important;
}

.text-white a{
  color: white !important;
}

.bg-m-dark {
  background: #303030 !important;
}

html,body, .content {
  background: #212529 !important;
  color: white !important;
}

.dark-table {
  color: white !important;
}
.dark-table tr:nth-child(odd) {background: #232526 !important;}

.dark-gray-icon {
 background-color:  #32325d !important;

}

// dark form section
.dark-form-control {
    border-radius: 0;
    box-shadow: none;
    height: 40px;
    background-color: #353535;
    border: 1px solid #353535;
    color: #5c5c5c;
    width: 100%;
    padding-top: .3rem;
}
.gray-dark {
  background-color: #343a40
}
#group-check-nav {
  background-color: #353535  !important;
}
.maindark-bg {
  background-color: #252830 !important;

}
.borderd-list-group a{
  height: 55px;
  width: 100%;
  border: 1px solid #434857;
  color: white !important;
  padding-left: 2px !important;
}

.borderd-list-group {
  padding: 6px !important;
}
.mdl-color--grey-900 {
    background-color: #212121 !important;
}
.text-black {
  color: black !important;
}
.btn-outline-black {
  color: black !important;
  background-color: transparent  !important;
  border: 2px solid black  !important;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(33, 33, 33, 0.4) !important;
}
.btn-outline-gray {
  color: #666 !important;
  background-color: transparent  !important;
  border: 1px solid #666  !important;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(02,102,102, 0.4) !important;
}
.form-control-gray {
  background-image: linear-gradient(to top, #666 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #666 1px, rgba(2,102,102, 0) 1px) !important;
}
.bg-gray66{
  background: #2A2A2E !important;
}
.bg-f1-black{
  background: #1F1209 !important;

}
