@import "font-awesome";
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */



/* ---------------------------------------------------
    USER ACOUNT SECTION
----------------------------------------------------- */
/*---------------------------------------------*/


.creds-sec {
  margin-top: 40%;
}


.main-creds-btn {
  background-color: #004267  !important;
}

/*//////////////////////////////////////////////////////////////////
[ FONT ]*/


/*---------------------------------------------*/
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.login-page {
  background-image: image-url('login.jpg') no-repeat center center fixed !important;
}

.nav-landing {
  min-height: 100px;
}

 .layer {
    background-color: rgba(0,0,0,.4);
     position: relative;
     top: 0px;
     left: 0;
     min-height: 100vh;
     width: 100%;
     overflow: hidden;
     margin-top: 0px !important;

}
.landding-page{
  background:
    /* top, transparent red, faked with gradient */
    linear-gradient(
      rgba(0, 0, 0, 0.5),
    hsla(212, 5%, 5%, 0.3)
    ),
    /* bottom, image */
    image-url('login.jpg') no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     background-size: cover;
     -o-background-size: cover;
     min-height: 100%;
     min-height: 100vh;
      overflow: hidden;
        position: absolute;
        top: 0px;
        min-width: 100%;
}
.main-brand  {
 margin: auto;
 margin-top: 20%;
}
.table td, .table th {

    border-top: 1px solid #51586a !important;
  }

hr {
  background-color: #252830 !important;
}
  .iamgurdeep-pic {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.iamgurdeep-pic img {
     background-image: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
     height: 300px;
     object-fit: cover;
    }
.profile-nav-ui .username {
    bottom: 0;
    color: #ffffff;
    padding: 30px 15px 4px;
    position: absolute;
    width: 100%;
    text-shadow: 1px 1px 2px #000000;

background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, #191b1c  100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, #191b1c  100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, #191b1c  100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#191b1c',GradientType=0 ); /* IE6-9 */
}
.profile-nav-ui .iamgurdeeposahan {
    border-radius: 4px 4px 0 0;
}

.profile-nav-ui.username > h2 {
    font-family: oswald;
    font-size: 27px;
    font-weight: lighter;
    margin: 31px 0 4px;
    position: relative;
    text-shadow: 1px 1px 2px #000000;
    text-transform: uppercase;
}
.profile-nav-ui .username > h2 small {
    color: #ffffff;
    font-family: open sans;
    font-size: 13px;
    font-weight: 400;
    position: relative;
}
.profile-nav-ui .username .fa{
    color: #ffffff;
    font-size: 14px;
    margin: 0 0 0 4px;
    position: static;
}
.profile-nav-ui .edit-pic a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #ffffff;
    border-radius: 50%;
    color: #ffffff;
    font-size: 21px;
    height: 39px;
    line-height: 38px;
    margin: 8px;
    text-align: center;
    width: 39px;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
    text-decoration: none !important;
     display: list-item;
     background-color: rgba(255, 255, 255, 0.1)
}
.profile-nav-ui .edit-pic a:hover {
   font-size: 17px;
   opacity: 0.9;
  }
.profile-nav-ui .edit-pic a:focus {
   background:#094AB2;
    color: #fff;
    border: 1px solid #094AB2;
}
.profile-nav-ui a:focus {
    outline: none;
    outline-offset: 0px;
}
.profile-nav-ui .edit-pic {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.profile-nav-ui .tags {
    background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    display: inline-block;
    font-size: 13px;
    margin: 4px 0 0;
    padding: 2px 5px;
     -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.profile-nav-ui .tags:hover {
    background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 2px;
    display: inline-block;
    font-size: 13px;
    margin: 4px 0 0;
    padding: 2px 5px;
}
.profile-nav-ui #accordion:hover .edit-pic {
    opacity: unset;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}


.profile-nav-ui .btn-o {

    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 2px;
    color: #ffffff !important;
    display: inline-block;
    font-family: open sans;
    font-size: 15px !important;
    font-weight: normal !important;
    margin: 0 0 10px;
    padding: 5px 11px;
    text-decoration: none !important;
    text-transform: uppercase;

   background-color: rgba(255, 255, 255, 0.1);
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.profile-nav-ui .btn-o:hover {
  background-color: rgba(255, 255, 255, 0.4);
    color: #fff !important;
  }
.profile-nav-ui .btn-o:focus {
   background:#094AB2;
    color: #fff;
    border: 1px solid #094AB2;
}
.profile-nav-ui .submenu .iamgurdeeposahan {

    border-radius: 50%;
    height: 60px;
    padding: 2px;
    width: 60px;
}
.photosgurdeep > a {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 50%;
    display: inline-block !important;
    padding: 0 !important;
}
.view-all {
    background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0 !important;
    border: 1px solid;
    float: right;
    font-family: oswald;
    font-size: 26px;
    height: 60px;
    line-height: 61px;
    text-align: center;
    width: 60px;
}
.photosgurdeep {
    padding: 10px 9px 4px 35px;
}
ul {
  list-style-type: none;
}

.profile-nav-ui a {
  color: #094AB2;
  text-decoration: none;
}

/** =======================
 * Contenedor Principal
 ===========================*/
h1 {
  color: #FFF;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-top: 40px;
 }

.profile-nav-ui h1 a {
  color: #094AB2;
  font-size: 16px;
 }

 .accord {
  width: 100%;
  max-width: 360px;
padding-left: 0px;
padding-right: 0px;
background: #000;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
 }

.accord .link {
  cursor: pointer;
  display: block;
  padding: 15px 15px 15px 42px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  border-bottom: 1px solid #CCC;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accord li:last-child .link {
  border-bottom: 0;
}

.accord li i {
  position: absolute;
  top: 16px;
  left: 12px;
  font-size: 18px;
  color: #595959;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accord li i.fa-chevron-down {
  right: 12px;
  left: auto;
  font-size: 16px;
}

.accord li.open .link {
  color: #b63b4d;
}

.accord li.open i {
  color: #b63b4d;
}
.accord li.open i.fa-chevron-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.accord li.default .submenu {display: block;}
/**
 * Submenu
 -----------------------------*/



 .submenu {
  display: none;
  background: #000 url("<%= asset_url('ui-bg_gloss.png') %>") 50% 50% repeat-x;

  font-size: 14px;
 }

 .submenu li {
  border-bottom: 1px solid #4b4a5e;
 }

 .submenu a {
  display: block;
  text-decoration: none;
  color: #d9d9d9;
  padding: 12px;
  padding-left: 42px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
 }

 .submenu a:hover {
/*  background:#262626;*/
  color: #FFF;
 }



.profile-nav-ui a {
  color: white;
}




.profile-nav-ui.nav.navbar-nav .dropdown-toggle {
    padding: 0 !important;
}

.profile-nav-ui.dropdown-toggle span {
    background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    font-size: 23px !important;
    height: 38px;
    line-height: 40px;
    margin: 0 !important;
    padding: 0 !important;
    text-align: center;
    width: 38px;
    text-shadow:none !important;
}

.profile-nav-ui.nav.navbar-nav {
    bottom: 10px;
    position: absolute;
    right: 12px;
    transition: all 0.4s ease 0s;
}

.profile-nav-ui.navbar-nav > li > .dropdown-menu {
    border-radius: 2px !important;
    margin-top: 10px;
    min-width: 101px;
    padding: 0;
}
.profile-nav-ui.navbar-nav > li > .dropdown-menu li a {
    color: #333333 !important;
    font-size: 13px !important;
    font-weight: 600 !important;
    padding: 2px 8px !important;
    text-align: right !important;
    text-shadow:none !important;
}
.profile-nav-ui.dropdown-toggle {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    font-size: 15px !important;
}

.profile-nav-ui.dropdown {
  -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.profile-nav-ui.dropdown-menu>li>a {
    color:#428bca;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.profile-nav-ui.dropdown ul.dropdown-menu {
    border-radius:4px;
    box-shadow:none;
}
.profile-nav-ui.dropdown ul.dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -8px;
    right: 8px;
    z-index: 10;
}
/**
 * Dashbord
 -----------------------------*/

  .black-background-image{
    background-image: image-url('black-background.png') !important;
    background-repeat: repeat-y !important;
    background-size: cover;
    height: 100%;
}
.user-image img {
  border-radius: 50% !important;
}

//
/** =======================
 * Jquery sortible Task
 ===========================*/

.improvement-list{
  background: rgba(0,0,0,0.9);
  border: 1px solid #666;
  border-radius: 20px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  color: white;
}

.sortable{
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.sortable.grid {
  overflow: hidden;
}
.sortable li {
  list-style: none;
  border: 1px solid #CCC;
  border-radius: 5px;
 background: black;
  font-family: "Tahoma";
  color: #fff;
  margin: 5px;
  padding: 5px;
  cursor: default;
}

li.sortable-placeholder {
  border: 1px dashed #666;
  background: black;
}

#saveMethodButtonBar {
  padding: 5px;
  text-align: right;
}

#addTask {
  padding: 0 10px;
}

#addTaskTextField {
    background: black;
}

#completedTasksHeader {
  display: none;
  border: 1px solid #666;
  border-radius: 4px;
  padding: 5px;
 background: black;
 color: white;
}

#taskLabel {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#taskButtonBar {
  float: right;
}

#dateLabel {
  float:right;
  margin-right:30px;
}

#lastDateLabel {
  float:right;
  margin-right:55px;
}

#complete-button, #start-button , #stop-button, #remove-button {
  background-repeat:no-repeat;
  padding:0px 4px;
  width:20px;
  height:20px;
  float: right;
  margin-right: 10px;
  cursor: pointer;
}

#complete-button {
  background-image: image-url('complete_icon.png')
}

#start-button {
    background-image: image-url('play_icon.png')
}

#stop-button {
  background-image: image-url('stop_icon.png')
}

#remove-button {
    background-image: image-url('delete_icon.png')
}

#creation-date, #start-date, #completion-date {
  padding:1px 4px;
  background: black;
  border:1px solid;
  border-radius:4px;
  display: block;
  float: right;
  margin-right: 15px;
  font-size: .8em;
  color: white;
}

#creation-date {
  margin-left: 5px;
}

#small-task, #medium-task, #large-task {
  background-repeat:no-repeat;
  width:20px;
  height:20px;
  display: block;
  float: left;
  margin-right: 10px;
}

#small-task {
   background-image: image-url('smalltask.png')

}

#medium-task {
  background-image: image-url('mediumtask.png')
}

#large-task {
    background-image: image-url('largetask.png')
}
