@import "font-awesome";
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

html,body {
  padding: 0px;
  margin: 0px;
  background-color: white !important;
  color: black !important;
  box-sizing: border-box;
width: 100%;
}


/* ---------------------------------------------------
    USER ACOUNT SECTION
----------------------------------------------------- */
/*---------------------------------------------*/


.creds-sec {
  margin-top: 40%;
}


.main-creds-btn {
  background-color: #004267  !important;
}

/*//////////////////////////////////////////////////////////////////
[ FONT ]*/


/*---------------------------------------------*/
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.login-page {
  background-image: image-url('login.jpg') no-repeat center center fixed !important;
}

.nav-landing {
  min-height: 100px;
}

 .layer {
    background-color: rgba(0,0,0,.1);
     position: relative;
     top: 0px;
     left: 0;
     min-height: 100vh;
     width: 100%;
     overflow: hidden;
     margin-top: 0px !important;

}
.landding-page{
  background:
    /* top, transparent red, faked with gradient */
    linear-gradient(
      rgba(0, 0, 0, 0.5),
    hsla(212, 5%, 5%, 0.3)
    ),
    /* bottom, image */
    image-url('login.jpg') no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     background-size: cover;
     -o-background-size: cover;
     min-height: 100%;
     min-height: 100vh;
      overflow: hidden;
        position: absolute;
        top: 0px;
        min-width: 100%;
}
.main-brand  {
 margin: auto;
 margin-top: 20%;
}
.table td, .table th {

    border-top: 1px solid #51586a !important;
  }

hr {
  background-color: #252830 !important;
}
