<div class="modal bg-black rounded-0 fade" id="new_recurring_event">
  <div class="modal-dialog bg-black rounded-0">
    <div class="modal-content bg-black rounded-0">
      <div class="card card-5 text-white">
        <div class="modal-header bg-black rounded-0">
        <div class="card-header card-header-info card-1">
          <button type="button" class="close text-white" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Create New Recurring Event</h4>
        </div>
        </div>
        <div class="modal-body">
            <%= render 'form', recurring_event: @recurring_event %>
        </div>
        </div>
    </div>
  </div>
</div>
