


<%= form_for(@search, remote: true, authenticity_token: true) do |f| %>
  <%= text_field_tag :query, params[:query], class: "form-control form-control-lg mr-sm-2 ", placeholder: "Name" %>
<button type="submit" class="btn btn-outline-info btn-round btn-just-icon" >
  <i class="material-icons">search</i>
  <div class="ripple-container"></div>
</button>
<% end %>
