<%= form_tag(contacts_path, class: 'form-inline navbar-form my-2 my-lg-0', role: "search", method: :get) do %>

    <%= hidden_field_tag :group_id, params[:group_id] %>
    <%= text_field_tag :term, params[:term], class: "form-control form-control-lg mr-sm-2 ", placeholder: "Name, company, email" %>

<button type="submit" class="btn btn-outline-info btn-round btn-just-icon">
                  <i class="material-icons">search</i>
                  <div class="ripple-container"></div>
                </button>
<% end %>


