<%= form_tag(contacts_path, class: 'form-inline', role: "search", method: :get) do %>
<div class="form-group">
    <%= hidden_field_tag :group_id, params[:group_id] %>
    <%= text_field_tag :term, params[:term], class: "form-control bg-trans b-dark"%>
</div>
<div class="form-group">
    <span class="input-group-btn">
        <button class="btn bg-trans b-dark" type="submit">
            <span class="fa fa-search"></span>
        </button>
    </span>
</div>
<% end %>
