 <%= form_for(@search, remote: true, authenticity_token: true, class: 'form-inline md-form form-sm active mr-2') do |f| %>
    <span>
         <%= text_field_tag :query, params[:query], class: "form-control form-control-lg  mr-3 text-white", placeholder: "Name" %>
        <button type="submit" class="btn btn-outline-info btn-round btn-just-icon" id="send-search">
          <i class="material-icons">search</i>
          <div class="ripple-container"></div>
        </button>
    </span>
<% end %>

