

<div class="wrapper" style="min-width: 100vw;">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header text-dark">
            <h3>Hudson Lab</h3>
            <strong>HL</strong>
        </div>
        <ul class="list-unstyled components ">
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">
                    <i class="fa fa-home"></i>
                            Home

                </a>
                <ul class="collapse list-unstyled " id="homeSubmenu"  class="">
                    <li>
                        <a href="#">Home 1</a>
                    </li>
                    <li>
                        <a href="#">Home 2</a>
                    </li>
                    <li>
                        <a href="#">Home 3</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"  class="">
                    <i class="fa fa-user "></i>
                            Contacts

                </a>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="">
                    <i class="fa fa-archive "></i>
                            Files

                </a>
                <ul class="collapse list-unstyled " id="pageSubmenu"  class="">
                    <li>
                        <a href="#">Page 1</a>
                    </li>
                    <li>
                        <a href="#">Page 2</a>
                    </li>
                    <li>
                        <a href="#">Page 3</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"  class="">
                    <i class="fa fa-building "></i>
                            Properties

                </a>
            </li>
            <li>
                <a href="#"  class="">
                    <i class="fa fa-tasks "></i>
                            Action Steps

                </a>
            </li>
            <li>
                <a href="#"  class="">
                    <i class="fa fa-calendar k"></i>
                            Calendar

                </a>
            </li>
        </ul>
        <ul class="list-unstyled CTAs">
            <li>
                <a href="" class="btn btn-outline-light text-light">Download CSV</a>
            </li>
            <li>
                <a href="/" class="btn btn-outline-light text-light">Back to Home</a>
            </li>
        </ul>
    </nav>
    <!-- Page Content Holder -->
    <div id="content" style="max-width: 100%; !important; ">
        <%= render 'layouts/navbar' %>
